
.Select-value-icon,
.Select-value-label {
	color: #1F77B4;
	border-color: #1F77B4;
	background-color: white;
}

.btn-primary {
	background-color: #1F77B4;
	border-color: #1F77B4;
}

.btn-outline-primary {
	color: #1F77B4;
	border-color: #1F77B4;
}

a {
	color: #1F77B4;
}

#event-options label:nth-child(1) {
	background-image: url(diamond.png);
}

#event-options label:nth-child(2) {
	background-image: url(circle.png);
}
